.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background: #ebf1965b;
}
.det{
  border: 1px solid black;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: space-around;
}
#task{
  display: flex;
  justify-content: space-between;
}
.v1{
  border-left: 2px solid slategrey;
}
p{
  font-size: small;

}

.btn{
  border-radius: 1px;
  background: #cbfaa48f;
}
.btn:hover{
  cursor: pointer;
  background: #6ee004;
}
input{
  background: #000000a9;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.clist{
background:#6ee004;
font-size: medium;
font-style: oblique;
}

@media only screen and (max-width: 600px){
  .div1{
    width: 100%;
  }
  button{
    width: 5rem;
  }
  #bb1,#bb2,#bb3{
    width: 3rem;
    font-size: xx-small;
  }
}